观测到，需要进行进一步聚类的产品：C类和D类
### C类产品-客户聚类

In [1]:
import pandas as pd

In [4]:
df_C = pd.read_csv("./event_cust_C.csv")
df_C = df_C[df_C['first_cluster_id'] != 'C0']
df_C = df_C.dropna(axis=1, how='all')
df_C.head()

,Unnamed: 0,cust_no,prod_id,event_id,event_type,event_level,event_date,event_term,event_rate,event_amt,...,loc_cd,gender,init_dt,edu_bg,marriage_situ_cd,C_credit_level,C_credit_amt_cd,C_credit_type1,C_credit_type2,first_cluster_id
18246,18246,A4AA6F76418A6D7B88C6B5A1B1FEAE53,C0002,E0004,A,A,2024-10-22,360.0,10.0,400.0,...,L006,F,2017-04-25,0.0,40.0,2.0,7.0,1.0,1.0,C1
18247,18247,96C9476E76AF434BE789DF0CE34E3B2A,C0003,E0004,A,A,2024-11-12,2.0,10.0,15.0,...,L016,M,2020-11-27,3.0,20.0,3.0,4.0,2.0,3.0,C2
18248,18248,ECEF41D1BBD9F3B686354C129EB76885,C0002,E0004,A,A,2024-11-15,360.0,10.0,300.0,...,L001,M,2011-06-21,4.0,10.0,2.0,7.0,1.0,1.0,C1
18249,18249,8CFC0DFC6615CB2E3FEB94B6049FB3C7,C0004,E0004,A,A,2024-12-04,60.0,18.0,90.0,...,L005,M,2024-11-28,8.0,20.0,6.0,6.0,2.0,1.0,C3
18250,18250,3735109D02414DA762D25F7BB3CAB4F2,C0005,E0004,A,A,2024-01-02,13.0,13.0,15.0,...,L012,M,2010-09-26,7.0,20.0,3.0,6.0,2.0,3.0,C4

In [5]:
df_C["first_cluster_id"].value_counts()

first_cluster_id
C6     7292
C2     5982
C7     5270
C22    3051
C3      957
C11     839
C12     709
C15     515
C1      381
C10     306
C5      242
C4      221
C13     209
C14     162
C17      64
C9       63
C19      26
C21      24
C8       14
C18      13
C25      11
C16      10
C29       9
C28       6
C20       5
C26       5
C23       2
C24       1
C27       1
C30       1
Name: count, dtype: int64

**特征处理：1.归一化 2. 缺失值赋0**

In [6]:
cols_to_normalize = ["event_term","event_rate","event_amt","edu_bg","marriage_situ_cd",]
df_C[cols_to_normalize] = df_C[cols_to_normalize].apply(lambda x: ((x - x.mean()) / x.std()).fillna(0))